{% extends 'base.html' %}

{% block records-style %}
    {% include 'records/style.dhtml' %}
{% endblock %}

{% block title %}Record from {{ record.date }}{% endblock %}

{% block content %}
    <h1>Record: {{ record.interviewer }} | {{ record.employee }} | {{ record.date }}</h1>
    <ul class="list-group">
        {% for answer in answers %}
            <li class="list-group-item"> - {{ answer.question }}<br>
                - {{ answer.get_mark_display }} {{ answer.explanation }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'record-delete' record_id=record.id %}"><button class="btn btn-danger">Delete</button></a>
{% endblock %}