{% extends 'base.html' %}

{% block nav%}
{% include 'courses/nav.html' %}
{% endblock %}

{% block content %}
<h1>PyBursa Courses list</h1>
<table class="table table-striped">
    <tr>
        <th>Название</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
    </tr>

    {% for course in courses %}
    <tr>
        <td><a href="/courses/{{ course.id }}">{{ course.name }}</a></td>
        <td>{{ course.start_date }}</td>
        <td>{{ course.end_date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}